services:
  # Baza danych
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: notes_db
    volumes:
      - db_data:/var/lib/postgresql/data # Wolumen - dane nie znikną po restarcie

  # Backend
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - db # Backend czeka na bazę

  # Frontend
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data: